src/*.exe
src/bitcoin
src/bitcoind
src/test_bitcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.bitcoin
djp3Dump_*.json

#compilation and Qt preprocessor part
*.qm
Makefile
bitcoin-qt

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store

!src/leveldb-*/Makefile

#djp3 stuff
deps/*
build
src/djp3Makeit.sh
Bitcoin-Qt.app/*
Bitcoin-Qt.dmg
doc/doxygen

